.navBar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 50px;
  align-items: center;
}

.navBar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.nav-links a:hover {
  background-color: #918989;
}

.login a {
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.3s;
}

.login a:hover {
  opacity: 0.8;
  color: #ffffff;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.dividerLine {
  height: 12rem;
  border: 1.5px solid rgba(34, 15, 158, 0.751);
  opacity: 0.5;
}

.descriptionCard {
  max-height: 4rem;
  box-shadow: 0 0 8px rgba(34, 15, 158, 0.751);
  border-radius: 16px;
  padding: 4rem;
  color: white;
  align-items: center;
}

.button-grid {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
  max-height: 4rem;
}

.gradient-btn {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0 8px rgba(34, 15, 158, 0.751);
  color: white;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid rgb(255, 255, 255, 0.05);
}