.verticalLine {
  border: 1px solid rgb(23, 21, 147);
  height: 300px;
}

.closeButton {
  display: flex;
  justify-content: end;
  background: transparent;
}

.icon {
  border: none;
  font-size: 20px;
  line-height: 0;
}

.box {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.card {
  background: rgba(13, 17, 23, 0.8);
  border: 1px solid rgb(255, 255, 255, 0.05);
  box-shadow: 0 0 8px rgba(34, 15, 158, 0.751);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  padding: 2rem;
  color: white;
  align-items: center;
  max-height: 5rem;
}

.button-grid {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
  max-height: 4rem;
  position: relative;
}

.gradient-btn {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0 8px rgba(34, 15, 158, 0.751);
  color: white;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid rgb(255, 255, 255, 0.05);
}