/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */
#root {
  margin: 0;
  min-height: 100vh;
  /* Creates a subtle blue glow coming from the top-center */
  background: radial-gradient(
    circle at 50% 10%, 
    #0a192f 0%, 
    #02040a 100%
  );
  background-attachment: fixed;
}

 
